  .chat-msg-user {
      display: flex;
      justify-content: end;
      align-items: start;

    }

    .chat-msg-robot {
      display: flex;
      align-items: start;
    }

    .chat-msg-txt {
      background-color: rgb(238, 238, 238);
      padding: 15px 20px;
      border-radius: 10px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 20px;
      max-width: 300px;
    }
    .chat-time-txt {
        display: flex;
        justify-content: start;
        font-size: 10px;
        color: gray;
        margin-top: 5px;
    }
    .chat-msg-profile {
      width: 45px;
    }